<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>barney: usermanager</display-name>
	<context-param>
		<param-name>org.restlet.application</param-name>
		<param-value>org.springfield.barney.restlet.SUMRestletApplication</param-value>
	</context-param>
	<servlet>
		<description>
		jk
		</description> 
		
		<display-name>
			SUMRestlet
		</display-name>
		<servlet-name>ServerServlet</servlet-name>
		<servlet-class>
			com.noelios.restlet.ext.servlet.ServerServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
		
	</servlet>
	<servlet-mapping>
		<servlet-name>ServerServlet</servlet-name>
		<url-pattern>/restlet/*</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>MargeServlet</servlet-name>
		<servlet-class>com.noterik.bart.marge.server.MargeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>	
		
	</servlet>
	<servlet-mapping>
		<servlet-name>MargeServlet</servlet-name>
		<url-pattern>/marge/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>BarneyServlet</servlet-name>
	    <servlet-class>org.springfield.barney.servlet.BarneyServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet> 
		
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
		
</web-app>
